<form class="{{cssClass}}" autocomplete="off">
    <div class="dice-prompt" data-v-a942ba1d="">
        <header data-v-a942ba1d="">
            <span data-v-a942ba1d="">Réserve de Dés</span>
            <span class="hint" data-v-a942ba1d="">{{description}}</span>
        </header>

	<div class="preview" data-v-a942ba1d="">
        <div class="positive" data-v-a942ba1d="">
            <div class="die die-A" data-v-a942ba1d="">A</div>
        </div>
    
        <div class="negative" data-v-a942ba1d="">
            <div class="die die-D" data-v-a942ba1d="">D</div>
            <div class="die die-D" data-v-a942ba1d="">D</div>
        </div>
        <div class="dice-box" data-v-a942ba1d="">
            <a data-die="A" data-v-a942ba1d="">A<i class="fas fa-plus" data-v-a942ba1d=""></i></a>
            <a data-die="P" data-v-a942ba1d="">P<i class="fas fa-plus" data-v-a942ba1d=""></i></a>
            <a data-die="B" data-v-a942ba1d="">B<i class="fas fa-plus" data-v-a942ba1d=""></i></a>
            <a data-die="A" data-v-a942ba1d="">A<i class="fas fa-arrow-up" data-v-a942ba1d=""></i></a>
            <a data-die="P" data-v-a942ba1d="">P<i class="fas fa-arrow-down" data-v-a942ba1d=""></i></a>
            <span ></span>
            <a data-die="D" data-v-a942ba1d="">D<i class="fas fa-plus" data-v-a942ba1d=""></i></a>
            <a data-die="C" data-v-a942ba1d="">C<i class="fas fa-plus" data-v-a942ba1d=""></i></a>
            <a data-die="S" data-v-a942ba1d="">S<i class="fas fa-plus" data-v-a942ba1d=""></i></a>
            <a data-die="D" data-v-a942ba1d="">D<i class="fas fa-arrow-up" data-v-a942ba1d=""></i></a>
            <a data-die="C" data-v-a942ba1d="">C<i class="fas fa-arrow-down" data-v-a942ba1d=""></i></a>
            <span ></span>
            <a data-v-a942ba1d=""a<i class="fas fa-plus" data-v-a942ba1d=""></i></a>
            <a data-v-a942ba1d="">s<i class="fas fa-plus" data-v-a942ba1d=""></i></a>
            <a data-v-a942ba1d="">t<i class="fas fa-plus" data-v-a942ba1d=""></i></a>
            <a data-v-a942ba1d="">h<i class="fas fa-plus" data-v-a942ba1d=""></i></a>
            <a data-v-a942ba1d="">f<i class="fas fa-plus" data-v-a942ba1d=""></i></a>
            <a data-v-a942ba1d="">d<i class="fas fa-plus" data-v-a942ba1d=""></i></a>
        </div>
    </div>
    <select name="characteristic" >
        <option value="-" >—</option>
        <option value="brawn" >Brawn</option>
        <option value="agility" >Agility</option>
        <option value="intellect" >Intellect</option>
        <option value="cunning" >Cunning</option>
        <option value="willpower" >Willpower</option>
        <option value="presence" >Presence</option>
    </select>
    <select name="skill" >
        <option value="-" >—</option>
        <option value="qovNwR5dw2aMvq5x" >Alchimie (Int)</option>
        <option value="kC2MjfgX7bTRqqNL" >Arcanes (Int)</option>
        <option value="SMlVb30HUmmkwKtJ" >Artillerie (Ag)</option>
        <option value="xmQPbOVooFQLzPO0" >Athlétisme (Vig)</option>
        <option value="aAwWJwIy3sm2XwcR" >Calme (Pr)</option>
        <option value="PFNbnC4B6ExXDQ2k" >Charme (Pr)</option>
        <option value="XfD4gBixSj2MyEnV" >Coercision (Vol)</option>
    </select>
</form>